@import 'bootstrap.less';


.container-fluid {

	margin-bottom: 600%;
}
h1 {
	font-size: 10em;
	text-align: center;
}

.message {
	margin-top: 70%;
	margin-bottom: 70%;
 	 span {position: relative;}
 }